
name: CI with MLflow Artifacts

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
        pip install -r requirements.txt
        pip install mlflow

    - name: Run MLflow Project
      run: mlflow run . -P entry_point=main --env-manager local
      working-directory: ./MLProject

    - name: Upload MLflow Runs as Artifact
      uses: actions/upload-artifact@v3
      with:
        name: mlflow-runs
        path: ./mlruns

